:root {
  --toastify-icon-color-info: var(--chakra-colors-primary);
  --toastify-icon-color-success: var(--chakra-colors-success);
  --toastify-icon-color-warning: var(--chakra-colors-warning);
  --toastify-icon-color-error: var(--chakra-colors-error);
}