@keyframes slide-in-from-right {
  0% {
    transform: translateZ(50px) translatex(50px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.slide-from-right {
  animation: slide-in-from-right 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
